@use "./partials/variables";
@use "./functions.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: var(--white);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--medium-blue);
}
.ratingcard {
  background-color: var(--dark-blue);
  width: 280px;
  height: 400px;
  margin-top: 4rem;
  padding: 2rem 1rem;
  border-radius: 10px;
  @include media(1000px) {
    width: 280px;
  }
  &__icon-star-container {
    width: 30px;
    height: 30px;
    background-color: hsl(213, 20%, 23%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1.2rem 0;
    div {
      width: 40px;
      height: 40px;
      background-color: hsl(213, 20%, 23%);
      font-size: 0.9rem;
      color: var(--light-grey);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: var(--primary) !important;
        color: var(--white) !important;
        font-weight: bold !important;
      }
      &:active {
        background-color: var(--light-grey);
      }
      &:visited {
        background-color: var(--light-grey);
      }
    }
  }
  h1 {
    margin: 2rem 0 0.8rem;
    font-size: 1.5rem;
    color: var(--white);
  }
  p {
    font-size: 0.8rem;
    color: var(--light-grey);
  }
  &__submit {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--white);
    width: 100%;
    padding: 0.6rem 0;
    display: block;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in;
    border: none;
    &:hover {
      background-color: var(--white);
      color: var(--primary);
    }
  }
}
.thankyou {
  background-color: var(--dark-blue);
  width: 280px;
  height: 400px;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 4rem;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1.6rem;
  }

  &__ratingmsg {
    font-size: 0.7rem !important;
    color: var(--primary) !important;
    background-color: hsl(213, 20%, 23%);
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
    display: inline;
  }
  h1 {
    margin: 2rem 0 0.8rem;
    font-size: 1.5rem;
    color: var(--white);
  }
  p {
    font-size: 0.8rem;
    color: var(--light-grey);
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
// .notselected {
//   background-color: var(--dark-blue);
//   color: var(--light-grey);
//   font-weight: bold;
// }
// .selected {
//   background-color: var(--light-grey);
//   color: var(--white);
// }
.attribution {
  color: aliceblue;
  font-size: 0.7rem;
}
