@use "./partials/variables";
@use "./functions.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verydark-blue);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: var(--white);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   margin: 3rem auto;
  background-color: var(--medium-blue);
  @include media(1000px) {
    height: 90%;
  }
}
.ratingcard {
  background-color: var(--dark-blue);
  width: 280px;
  height: 400px;
  padding: 2rem 1rem;
  &__icon-star-container {
    width: 30px;
    height: 30px;
    background-color: hsl(213, 20%, 23%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 1.2rem 0;
    div {
      width: 40px;
      height: 40px;
      background-color: hsl(213, 20%, 23%);
      font-size: 0.9rem;
      color: var(--light-grey);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  h1 {
    margin: 2rem 0 0.8rem;
    font-size: 1.5rem;
    color: var(--white);
  }
  p {
    font-size: 0.9rem;
    color: var(--light-grey);
  }
  @include media(1000px) {
    width: 280px;
  }
}
.thankyou {
  background-color: var(--dark-blue);
  width: 280px;
  height: 400px;
  padding: 2rem 1rem;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.attribution {
  color: aliceblue;
  font-size: 0.7rem;
}
